{
    "eslint.enable": true,
    "files.exclude": {
        "node_modules": true,
        ".npm-offline-cache": true
    },
    "editor.formatOnSave": true,
    "prettier.proseWrap": true,
    "tabWidth": 4,
    "singleQuote": true
}
